services:
  postgres:
    image: postgres:16
    container_name: devburger-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Devburger
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    container_name: devburger-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
